/* Empty. Add your own CSS if you like */








.auth{
	text-align: center;
	padding-top: 90%;
}

.auth .button {
	background-color: rgba(129, 168, 179, 0.52);
	color:  #0082a5;
	font-size: 25px;
	padding: 10px;
}

.or{
	color: #0082a5;
	font-size:25px;
}

.auth-list {
	padding-top: 90%;
}

.auth-list .item {
	margin-top: 20px;
	background-color: rgba(129, 168, 179, 0.52);
	border: none;
	color:  #0082a5;
}

.auth-list .input-label {
	color: #013746;
}

.auth-list input{
	color: #013746;
}

.login .button{
	background-color: #417D9A;
	color:  #E5F6FB;
}

.register .button{
	background-color: #417D9A;
	color:  #E5F6FB;
	margin-top: 50px; 
}

.register .auth-list {
	padding-top: 10px;
}

