 <ion-view view-title="Etheras Tickets">
<ion-content class="padding background">

  <form name="loginForm" novalidate='' ng-submit="login(user)">
  <div ng-if="error" class="error-message"> {{ error }}</div>
    <div class="list auth">
      <div class="auth-list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username" required>
        </label>
       

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" required ng-minlength="6">
        </label>
      </div>

      <button class="button button-complete" ng-disabled="loginForm.$invalid" type="submit">
        Log in
      </button>

    </div>
  </form>
  
</ion-content>
</ion-view>