<ion-view view-title="Account">
	<ion-nav-buttons side="left">
	  <button class="button button-clear">
         € {{user.balance}}
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    	<button class="button button-clear button-icon icon-log-out button-clear" ng-click="edit()">
         <i class="icon ion-edit"></i>
      </button>
      <button class="button button-icon icon-log-out button-clear button-logout" ng-click="logout()">
        <i class="icon ion-log-out"></i>
      </button>
    </ion-nav-buttons>

  <ion-content class="background">
  		<div class="user">
  			<h1>{{user.firstName}} {{user.lastName}}</h1>
  			<h3> #{{user.username}} </h3>
  		</div>

  		<div class="reservations" ng-if="user.reservations.length>0">
	  		<h3>My reservations:</h3>

	  		<div class="list card" ng-repeat="reservation in user.reservations">

			  <div class="item user reservations item-title">
			    <h2>{{reservation.flight.from}} -> {{reservation.flight.to}}</h2>
			    <p>{{ reservation.flight.date | date:'MMMM yyyy, dd - HH:mm'}}</p>
			  </div>

			  <div class="item item-body">
			 
			  	<div class="row">
			  		<div class="col col-33">
			  			<p>Seats:</p>
			  		</div>
			  		<div class="col col-67">
			  			<p class="bold">{{reservation.numOfSeats}}</p>
			  		</div>
			  	</div>

			  	<div class="row">
			  		<div class="col col-33">
			  			<p>Cost:</p>
			  		</div>
			  		<div class="col col-67">
			  			<p class="bold"> € {{reservation.cost}}</p>
			  		</div>
			  	</div>

			  </div>

			</div>
  		</div>

  		<div ng-if="!user.reservations.length>0" class="reservations">
  			<h3>My reservations:</h3>

	  		<div class="list card">

			  <div class="item user.reservations">
			    <h2>No reservations yet</h2>
			  </div>
		</div>

  </ion-content>
</ion-view>
