<ion-view view-title="Search Flights">
  <ion-content class="padding background2">


  <form name="searchForm" novalidate='' ng-submit="search(flight)" class="searchForm">
  
    <div class="list search-list">
      <label class="item item-input item-select">
        <span class="input-label">From</span>
        <select ng-model="flight.from" ng-options="city for city in cities"></select>
        <!-- <input type="text" ng-model="flight.from" required> -->
      </label>

      <label class="item item-input item-select">
        <span class="input-label">To</span>
         <select ng-model="flight.to" ng-options="city for city in cities"></select>
      </label>

      <label class="item item-input">
        <span class="input-label">Max €</span>
        <input type="number" ng-model="flight.max" required>
      </label>
     
      <label class="item item-input">
        <span class="input-label">Min €</span>
        <input type="number" ng-model="flight.min" required>
      </label>

      <label class="item item-input">
        <span class="input-label">Seats</span>
        <input type="number" ng-model="flight.seats" required>
      </label>

    <button class="button button-block button-complete" ng-disabled="searchForm.$invalid" type="submit">
      Search
    </button>


  </form>

  
  	<img ng-src = "img/logo.png" class="logo">
  
  </ion-content>
</ion-view>
